<script lang="ts">
  export let data: PageData;
</script>

<div class="header">
    <h1><a href="/overview">Veloren Moderation-tool</a></h1>
    {#if data.username == null}
        <div id="user-name"><a href="/login">login</a></div>
    {:else}
        <div id="user-name">{data.username}</div>
    {/if}

</div>
<div class="content">
    <slot />
</div>
