 <script lang="ts">
    import { inspectParties, type Message } from './message.js';
    import { formatDateTime } from './chrono.js';
	import PlayerNameCmp from './PlayerNameCmp.svelte';

	export let msg: Message;

    const date: Date = new Date(msg.time);
    const dateStr = formatDateTime(date);
    const inspected = inspectParties(msg.parties);
    const plain = JSON.parse(msg.content)
</script>

<div class="container">
    <div class="datediff inline"> {dateStr} </div>
    <div class="partytype inline"> {inspected.type}</div>

    {#each inspected.relatedPlayers as player }
        <PlayerNameCmp alias={player.alias} uuid={player.uuid}></PlayerNameCmp> 
    {/each}
    <div class="inline"> {plain["Plain"]}</div>

</div>