 <script lang="ts">
import { authToken } from '../../stores.js';
import { goto } from '$app/navigation';

async function handleSubmit(event: { currentTarget: EventTarget & HTMLFormElement }) {
    const data = new FormData(event.currentTarget);

    const url = "https://modapi.veloren.net/auth/v1/" + data.get('username') + "/token?password=" + data.get('password')
    const response = await fetch(url, {
        method: 'GET',
    });

    const status = await response.status;
    if (status === 200) {
        const text = await response.text();
        authToken.set(text)
        goto('/overview');
    } else {
        alert("Whoopsy, login didn't succeed, statuscode " + status)
        authToken.set(null)
    }
}
</script>

<div class="main-block">
    {#if $authToken == null || $authToken == ""}
        <h2 class="caption">login:</h2>
    {:else}
        <h2 class="caption">login (it seems you are already logged in):</h2>
    {/if}
    <form method="POST" on:submit|preventDefault={handleSubmit}>
        <label>
            Username
            <input name="username" type="username">
        </label>
        <label>
            Password
            <input name="password" type="password">
        </label>
        <button>Log in</button>
    </form>
    <br>
</div>
