<script lang="ts">
  import MessageCmp from '../../MessageCmp.svelte';
  import type { PageData } from '../$types';
  import { getType } from '../../message';
  import { page } from '$app/stores';
  import { goto } from '$app/navigation';

  export let data: PageData;
  let filtername: Array<string> = ["Kill", "Online", "Offline", "Say", "World", "Region", "Fraction"];
  let filterResult: {[key: string]: boolean} = {
    ["Kill"]: false,
    ["Online"]: false,
    ["Offline"]: false,
    ["Say"]: true,
    ["World"]: true,
    ["Region"]: true,
    ["Fraction"]: true,
  };

  const adjust_url = () => {
    const searchParams = new URLSearchParams({'from': data.from_date + "T" + data.from_time + "Z", 'range': data.range})
    goto($page.url.pathname + '?' + searchParams.toString());
  }

  const next_prev = (negative: boolean) => {
    return () => {
      const startNum = new Date(data.from_date + "T" + data.from_time + "Z").getTime() + Number(data.range) * ((negative) ? -1000 : +1000)
      const startDate = new Date(startNum)
      const searchParams = new URLSearchParams({'from': startDate.toISOString(), 'range': data.range})
      goto($page.url.pathname + '?' + searchParams.toString());
    }
  }
</script>

<div class="main-block">
  <h2 class="caption">Filter:</h2>

  {#each filtername as filter }
    <label>
      <input type="checkbox" bind:checked={filterResult[filter]} />
      {filter}
    </label>
  {/each}
  <br><br>
  <label>
    from
    <input type="date" id="from_date" bind:value={data.from_date} on:change={adjust_url}/>
    <input type="time" id="from_time" bind:value={data.from_time} on:change={adjust_url}/>
  </label>
  <label>
    range
    <select name="range" id="range" bind:value={data.range} on:change={adjust_url}>
      <option value="300">5 minutes</option>
      <option value="900">15 minutes</option>
      <option value="3600">1 hour</option>
      <option value="21600">6 hours</option>
      <option value="86400">1 day</option>
    </select>
  </label>
  <label>
    <button id="prev" on:click={next_prev(true)}>prev</button>
  </label>
  <label>
    <button id="next" on:click={next_prev(false)}>next</button>
  </label>
  <br><br>
</div>

<div class="main-block">
  <h2 class="caption">Chat Messages</h2>
  {#each data.messages as msg }
    {#if filterResult[getType(msg)] }
      <MessageCmp msg={msg}></MessageCmp>
    {/if}
  {/each}

</div>