/* latin-ext */
@font-face {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-display: swap;
src: url(webfonts/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-display: swap;
src: url(webfonts/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Colors */
html,body{font-family: "Roboto", sans-serif,"Segoe UI",Arial,sans-serif;line-height:1.5}html{overflow-x:hidden}
h1,h2,h3,h4,h5,h6{font-weight:400;margin:10px 0}

/*Custom*/
body {
    margin: 0px 0px 0px 0px;
    background-color: #DDD;
}
.content,.auto{margin-left:auto;margin-right:auto;margin-top:16px;}.content{max-width:980px}.auto{max-width:1140px}
@media (max-width:1205px){.auto{max-width:95%}}
@media (max-width:600px){.modal-content{margin:0 10px;width:auto!important}}
@media (max-width:768px){.modal-content{width:500px}}
@media (min-width:993px){.modal-content{width:900px}}

.header {
    background-color: #141418;
    color: #DDD;
}
.header h1{
    margin: 0px 0px 0px 0px;
    padding: 4px 4px;
    display: inline;
}
.header a{
    color: #DDD;
}
#user-name {
    display: inline;
    padding: 8px 32px 8px 16px;
    float: right;
}

.main-block {
    background-color: #FFF;
    padding: 16px 16px;
    margin: 8px 8px;
    border-radius: 15px;
    box-shadow: 8px 8px 16px rgba(0,0,0,0.3);
}

.datediff{
    margin-right: 20px;
    color: #133449;
}
.partytype{
    color: #dd0000;
}
.playername{
    color: #262;
}
.inline{
    display: inline-block;
}
